---
import Layout from '~/layouts/PageLayout.astro';

import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'ACM/ML Ualbany',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Flyer ******************* -->
  <div class="flex flex-row justify-center gap-x-4">
    <!-- <Image width={450} src="~/assets/images/ualbany.png" alt="Logo" /> -->
    <Image width={800} src="~/assets/images/acm_flyer.png" alt="Logo" />
  </div>

</Layout>
